<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8"/>
		<title>404 - Page not found</title>
		<link rel="stylesheet" type="text/css" href="../css/style_404.css">
	</head>
	<body>
		<h1>404 error</h1>
		<h2>Page not found!</h2>
	</body>
</html>