<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Contact - FC Bayern München</title>
		<link rel="shortcut icon" type="image/x-icon" href="https://fcbfl.li/wp-content/uploads/2018/12/favicon.png"/>
		<link rel="stylesheet" type="text/css" href="../css/style_general.css">
		<link rel="stylesheet" type="text/css" href="../css/style_contact.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="UTF-8">
		<meta name="author" content="Mihai - Răzvan Lupu">
		<meta name="description" content="Această pagină este un fan-site din România dedicat echipei de fotbal germane FC Bayern München. În pagina Contact se pot găsi informații precum numele autorului, adresa acestuia, numărul de telefon și e-mail-ul">
		<meta name="keywords" content="Bayern, München, Mia San Mia, FC, Bundesliga, Fan-site, Contact, Adresă, PRINCIPALĂ, GALAȚI, MATCA">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../scripts/js_general.js"></script>
	</head>
	<body>
		<header>
			<%- include("../frg/header")%>
		</header>
		<main>
			<h1>Contact</h1>
			<dl>
				<dt><i class="fa fa-male"></i> Autor:</dt>
				<dd>LUPU MIHAI-RĂZVAN</dd>
				<dt><i class="fa fa-map-marker"></i> Adresă:</dt>
				<dd>STR. PRINCIPALĂ NR. 689 COM. MATCA JUD. GALAȚI</dd>
				<dt><i class="fa fa-phone"></i> Număr de telefon:</dt>
				<dd>0729355270</dd>
				<dt><i class="fa fa-envelope-open-text"></i> E-mail:</dt>
				<dd><a href = "mailto:mihai.lupu77@yahoo.com">mihai.lupu77@yahoo.com</a></dd>
			</dl>		
			<img src="../media/contact_cover.jpg" width="1200" height="400" alt="Cover contact" title="Imagine sugestivă pentru contact">
		</main>
		<footer>
			<%- include("../frg/footer")%>
		</footer>
	</body>
</html>