<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Despre club - FC Bayern München</title>
		<link rel="shortcut icon" type="image/x-icon" href="https://fcbfl.li/wp-content/uploads/2018/12/favicon.png"/>
		<link rel="stylesheet" type="text/css" href="../css/style_general.css">
		<link rel="stylesheet" type="text/css" href="../css/style_despre_club.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="UTF-8">
		<meta name="author" content="Mihai - Răzvan Lupu">
		<meta name="description" content="Această pagină este un fan-site din România dedicat echipei de fotbal germane FC Bayern München. În pagina Despre club se pot găsi informații despre stadion (Allianz Arena), echipament (cel purtat în MSC de exemplu) și palmares (trofee câștigate în Champions League, DFB, Bundesliga).">
		<meta name="keywords" content="Bayern, München, Mia San Mia, FC, Bundesliga, Fan-site, Despre club, Stadion, Allianz Arena, Echipament, MSC, DFB-Pokal, Cupa Intercontinentală">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../scripts/js_general.js"></script>
	</head>
	<body>
		<header>
			<%- include("../frg/header")%>
		</header>
		<main>
			<h1>Despre club</h1>
			<section id="stadion">
				<h2>Stadion</h2>
				<img src="../media/allianz_arena_day.jpg" width="1000" height="400" alt="Allianz Arena zi" title="Stadionul Allianz Arena pe timp de zi">
				<p>Allianz Arena este un stadion de fotbal în nordul orașului, unde clubul profesionist de fotbal FC Bayern München și-a jucat jocurile „de acasă“ de la începutul sezonului 2005-2006. Clubul a jucat anterior pe Stadionul Olimpic München din 1972. Allianz Arena este al treilea cel mai mare stadion din Germania, în urma Signal Iduna Park din Dortmund și Olympiastadion din Berlin.</p>
				<p>Marele furnizor de servicii financiare Allianz a cumpărat drepturile de a numi stadionul pentru 30 de ani. Totuși, acest nume nu poate fi utilizat atunci cand găzduiește evenimente FIFA și UEFA, deoarece aceste organisme de conducere au interzis sponsorizarea prin intermediul companiilor care nu sunt parteneri oficiali ai turneului. În timpul Cupei Mondiale din 2006, stadionul a fost menționat ca <b>FIFA World Cup Stadium München</b>. În meciurile UEFA stadionul este denumit <b>Fußball Arena München</b>, și a găzduit în 2012 finala UEFA Champions League. Din cauza aspectului său, stadionul a fost poreclit <i>"Schlauchboot"</i> (barcă gonflabilă), și este primul din lume care își poate modifica culoarea exterioară.</p>
				<p>Capacitatea stadionului a fost lărgită începând cu sezonul 2014/15. El are acum loc pentru 75.000 de spectatori (pentru jocuri internaționale ceva mai mult decât 71.000) cu 57.343 locuri de șezut, 13.794 locuri de stat în picioare, 1.374 locuri de lojă, 2.152 locuri de Business Seats (inclusiv 102 locuri pentru membrii VIP) și 966 pentru sponsori.</p>
				<img src="../media/allianz_arena_night.jpg" width="1000" height="400" alt="Allianz Arena noapte" title="Stadionul Allianz Arena pe timp de noapte">
			</section>
			<section id="echipament">
				<h2>Echipament</h2>
				<p>La început culorile bavarezilor erau alb și albastru, dar clubul folosește până în 1905 tricouri albe și șorturi albastre, atunci când Bayern intră în MSC. MSC decide că jucătorii trebuie să joace în șorturi roșii. Bayern a jucat în roșu și alb în cea mai mare parte a existenței sale și culoarea albastră a folosit-o ca alternativă. În sezonul 1960-1970 Bayern a folosit ca echipament un tricou cu dungi, având culorile albastru și alb, pantaloni scurți și jambiere albastre.</p>
				<p>Un stil similar l-a avut în 1995, când culoarea albastră a devenit culoarea dominantă pentru prima dată. Din 1999 Bayern a revenit la culoarea sa inițială. În deplasare au avut de-a lungul anilor o varietate de culori, inclusiv alb, negru, albastru, auriu și verde. În 2009 Bayern a avut un echipament roșu.</p>
				<div class="flex_container">
					<img src="../media/equip_acasa.png" width="200" height="300" alt="Echipament acasă" title="Echipamentul în meciurile de acasă">
					<img src="../media/equip_deplasare.png" width="200" height="300" alt="Echipament deplasare" title="Echipamentul în meciurile din deplasare">
					<img src="../media/equip_alternativ.png" width="200" height="300" alt="Echipament alternativ" title="Echipamentul alternativ în meciuri">
				</div>
			</section>
			<section id="palmares">
				<h2>Palmares</h2>
				<p>Având la activ câștigarea a două Cupe Intercontinentale, 5 cupe ale Campionilor europeni, trei a Cupei UEFA, trei a Cupei Cupelor, 26 ale campionatului național al Germaniei și 18 ale Cupei Germaniei la fotbal, Bayern München este de departe cel mai de succes club din Germania. Cu o bază foarte largă de peste 150.000 de membri, Bavarezii ocupă un remarcabil loc trei după SL Benfica (locul întâi, conform Guinness World Records) și FC Barcelona. Bayern München este unul dintre cluburile sportive care au avut cele mai mari succese posibile din istoria fotbalului.</p>
				<table id="tab_victorii">
					<thead>
						<tr>
							<th>Competiție</th>
							<th>Anul victoriei</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Bundesliga</td>
							<td>1931–32, 1968–69, 1971–72, 1972–73, 1973–74, 1979–80, 1980–81, 1984–85, 1985–86, 1986–87, 1988–89, 1989–90, 1993–94, 1996–97, 1998–99, 1999–2000, 2000–01, 2002–03, 2004–05, 2005–06, 2007–08, 2009–10, 2012–13, 2013–14, 2014-2015, 2015-2016, 2016-2017, 2017-2018, 2018-2019</td>
						</tr>
						<tr>
							<td>DFB - Pokal</td>
							<td>1957, 1966, 1967, 1969, 1971, 1982, 1984, 1986, 1998, 2000, 2003, 2005, 2006, 2008, 2010, 2013, 2014, 2016, 2019</td>
						</tr>
						<tr>
							<td>DFB - Ligapokal</td>
							<td>1997, 1998, 1999, 2000, 2004, 2007</td>
						</tr>
						<tr>
							<td>DFL - Supercup</td>
							<td>1982, 1987, 1990, 2010, 2012, 2016, 2017</td>
						</tr>
						<tr>
							<td>Liga campionilor UEFA / Cupa campionilor europeni</td>
							<td>1974, 1975, 1976, 2001, 2013</td>
						</tr>
						<tr>
							<td>Cupa cupelor UEFA</td>
							<td>1967, 1971, 2003</td>
						</tr>
						<tr>
							<td>UEFA Europa League / Cupa UEFA</td>
							<td>1996</td>
						</tr>
						<tr>
							<td>Cupa Intercontinentală</td>
							<td>1976, 2001</td>
						</tr>
						<tr>
							<td>Campionatul mondial al cluburilor FIFA</td>
							<td>2013, 2001, 1976</td>
						</tr>
						<tr>
							<td>Supercupa Europei</td>
							<td>2013, 2001</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
		<footer>
			<%- include("../frg/footer")%>
		</footer>
	</body>
</html>