<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Echipa - FC Bayern München</title>
		<link rel="shortcut icon" type="image/x-icon" href="https://fcbfl.li/wp-content/uploads/2018/12/favicon.png"/>
		<link rel="stylesheet" type="text/css" href="../css/style_general.css">
		<link rel="stylesheet" type="text/css" href="../css/style_echipa.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="UTF-8">
		<meta name="author" content="Mihai - Răzvan Lupu">
		<meta name="description" content="Această pagină este un fan-site din România dedicat echipei de fotbal germane FC Bayern München. În pagina Echipa se pot găsi informații despre actualul lot (sezonul 2019-2020) de jucători, precum data nașterii, rol, înălțime, nume, etc.">
		<meta name="keywords" content="Bayern, München, Mia San Mia, FC, Bundesliga, Fan-site, Echipa, Sezonul 2019-2020, Manuel Neuer, Hansi Flick, Coach, Forward, Ivan Perisic, Robert Lewandowski">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../scripts/js_general.js"></script>
	</head>
	<body>
		<header>
			<%- include("../frg/header")%>
		</header>
		<main>
			<h1>Echipa</h1>
			<img src="../media/echipa.jpg" width="950" height="500" alt="Echipa Bayern München" title="Echipa clubului FC Bayern München în sezonul 2019-2020">
			<h2>Echipa FC Bayern München - Sezonul 2019-2020</h2>
			<table id="tab_echipa">
				<thead>
					<tr>
						<th>Nume</th>
						<th>Data nașterii</th>
						<th>Naționalitate</th>
						<th>Înălțime</th>
						<th>Greutate</th>
						<th>Rol / Număr</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Manuel Neuer</td>
						<td>27/03/1986</td>
						<td>German</td>
						<td>1.93 m</td>
						<td>92 kg</td>
						<td>Goalkeeper / 1</td>
					</tr>
					<tr>
						<td>Sven Ulreich</td>
						<td>03/08/1988</td>
						<td>German</td>
						<td>1.92 m</td>
						<td>87 kg</td>
						<td>Goalkeeper / 26</td>
					</tr>
					<tr>
						<td>Christian Früchtl</td>
						<td>28/01/2000</td>
						<td>German</td>
						<td>1.93 m</td>
						<td>84 kg</td>
						<td>Goalkeeper / 36</td>
					</tr>
					<tr>
						<td>Ron-Thorben Hoffmann</td>
						<td>04.04.1999</td>
						<td>German</td>
						<td>1,92 m</td>
						<td>84 kg </td>
						<td>Goalkeeper / 39</td>
					</tr>
					<tr>
						<td>Niklas Süle</td>
						<td>03/09/1995</td>
						<td>German</td>
						<td>1.95 m</td>
						<td>97 kg</td>
						<td>Defender / 4</td>
					</tr>
					<tr>
						<td>Benjamin Pavard</td>
						<td>28/03/1996</td>
						<td>French</td>
						<td>1.86 m</td>
						<td>76 kg</td>
						<td>Defender / 5</td>
					</tr>
					<tr>
						<td>Javi Martinez</td>
						<td>02/09/1988</td>
						<td>Spanish</td>
						<td>1.92 m</td>
						<td>86 kg</td>
						<td>Defender / 8</td>
					</tr>
					<tr>
						<td>Jérôme Boateng</td>
						<td>03/09/1988</td>
						<td>German</td>
						<td>1.92 m</td>
						<td>90 kg</td>
						<td>Defender / 17</td>
					</tr>
					<tr>
						<td>Lucas Hernández</td>
						<td>14/02/1996</td>
						<td>French</td>
						<td>1.82 m</td>
						<td>76 kg </td>
						<td>Defender / 21</td>
					</tr>
					<tr>
						<td>David Alaba</td>
						<td>24/06/1992</td>
						<td>Austrian</td>
						<td>1.80 m</td>
						<td>78 kg</td>
						<td>Defender / 27</td>
					</tr>
					<tr>
						<td>Joshua Kimmich</td>
						<td>08/02/1995</td>
						<td>German</td>
						<td>1.76 m</td>
						<td>73 kg</td>
						<td>Defender / 32</td>
					</tr>
					<tr>
						<td>Lars Lukas Mai</td>
						<td>31/03/2000</td>
						<td>German</td>
						<td>1.89 m</td>
						<td>84 kg</td>
						<td>Defender / 33</td>
					</tr>
					<tr>
						<td>Thiago</td>
						<td>11/04/1991</td>
						<td>Spanish</td>
						<td>1.74 m</td>
						<td>70 kg</td>
						<td>Midfield / 6</td>
					</tr>
					<tr>
						<td>Philippe Coutinho</td>
						<td>12/06/1992</td>
						<td>Brazilian</td>
						<td>1.72 m</td>
						<td>68 kg</td>
						<td>Midfield / 10</td>
					</tr>
					<tr>
						<td>Michaël Cuisance</td>
						<td>16/08/1999</td>
						<td>French</td>
						<td>1.81 m</td>
						<td>74 kg</td>
						<td>Midfield / 11</td>
					</tr>
					<tr>
						<td>Leon Goretzka</td>
						<td>02/06/1995</td>
						<td>German</td>
						<td>1.89 m</td>
						<td>76 kg</td>
						<td>Midfield / 18</td>
					</tr>
					<tr>
						<td>Alphonso Davies</td>
						<td>02/11/2000</td>
						<td>Canadian</td>
						<td>1.81 m</td>
						<td>72 kg</td>
						<td>Midfield / 19</td>
					</tr>
					<tr>
						<td>Corentin Tolisso</td>
						<td>03/08/1994</td>
						<td>French</td>
						<td>1.81 m</td>
						<td>81 kg</td>
						<td>Midfield / 24</td>
					</tr>
					<tr>
						<td>Robert Lewandowski</td>
						<td>21/08/1988</td>
						<td>Polish</td>
						<td>1.84 m</td>
						<td>80 kg</td>
						<td>Forward / 9</td>
					</tr>
					<tr>
						<td>Ivan Perisic</td>
						<td>02/02/1989</td>
						<td>Croatian</td>
						<td>1.86 m</td>
						<td>80 kg</td>
						<td>Forward / 14</td>
					</tr>
					<tr>
						<td>Fiete Arp</td>
						<td>06/01/2000</td>
						<td>German</td>
						<td>1.84 m</td>
						<td>78 kg</td>
						<td>Forward / 15</td>
					</tr>
					<tr>
						<td>Serge Gnabry</td>
						<td>14/07/1995</td>
						<td>German</td>
						<td>1.75 m</td>
						<td>75 kg</td>
						<td>Forward / 22</td>
					</tr>
					<tr>
						<td>Thomas Müller</td>
						<td>13/09/1989</td>
						<td>German</td>
						<td>1.86 m</td>
						<td>75 kg</td>
						<td>Forward / 25</td>
					</tr>
					<tr>
						<td>Kingsley Coman</td>
						<td>13/06/1996</td>
						<td>French</td>
						<td>1.79 m</td>
						<td>75 kg</td>
						<td>Forward</td>
					</tr>
					<tr>
						<td>Hansi Flick</td>
						<td>24/02/1965</td>
						<td>German</td>
						<td> - </td>
						<td> - </td>
						<td>Coach / -</td>
					</tr>
					
				</tbody>
			</table>
		</main>
		<footer>
			<%- include("../frg/footer")%>
		</footer>
	</body>
</html>