<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Meciuri - FC Bayern München</title>
		<link rel="shortcut icon" type="image/x-icon" href="https://fcbfl.li/wp-content/uploads/2018/12/favicon.png"/>
		<link rel="stylesheet" type="text/css" href="../css/style_general.css">
		<link rel="stylesheet" type="text/css" href="../css/style_meciuri.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="UTF-8">
		<meta name="author" content="Mihai - Răzvan Lupu">
		<meta name="description" content="Această pagină este un fan-site din România dedicat echipei de fotbal germane FC Bayern München. În pagina Meciuri se pot găsi informații despre viitoarele meciuri ale echipei, precum tipul meciului, adversarul și data, dar și competițiile în cadrul cărora se desfășoară, precum Bundesliga, Champions League, etc.">
		<meta name="keywords" content="Bayern, München, Mia San Mia, FC, Bundesliga, Fan-site, Meciuri, Rezultate, Matchday, Champions League, DFB Cup, Adversar, Tipul meciului">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../scripts/js_general.js"></script>
	</head>
	<body>
		<header>
			<%- include("../frg/header")%>
		</header>
		<main>
			<h1>Meciuri</h1>
			<section>
				<h2>Rezultate</h2>
				<p>Pe această pagină sunt afișate doar meciurile următoare ale echipei FC Bayern München. Pentru a vedea rezultatele obținute în meciurile anterioare accesați pagina oficială a echipei prin link-ul de mai jos!</p>
				<div id="btn_container">
					<a href="https://fcbayern.com/en/fixtures/profis">REZULTATE</a>
				</div>
			</section>
			<section>
				<h2>Meciuri</h2>
				<p>Acesta este un tabel cu meciurile care vor fi disputate de echipa de fotbal FC Bayern München.</p>
				<table id="tab_meciuri">
					<thead>
						<tr>
							<th>Data</th>
							<th>Tipul meciului</th>
							<th>Adversar</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>23/11/2019</td>
							<td>Bundesliga, Matchday 12 </td>
							<td>Fortuna Düsseldorf</td>
						</tr>
						<tr>
							<td>26/11/2019</td>
							<td>Champions League, Matchday 5</td>
							<td>Crvena Zvezda</td>
						</tr>
						<tr>
							<td>30/11/2019</td>
							<td>Bundesliga, Matchday 13</td>
							<td>Bayer 04 Leverkusen</td>
						</tr>
						<tr>
							<td>07/12/2019</td>
							<td>Bundesliga, Matchday 14</td>
							<td>Borussia Mönchengladbach</td>
						</tr>
						<tr>
							<td>11/12/2019</td>
							<td>Champions League, Matchday 6</td>
							<td>Tottenham Hotspur</td>
						</tr>
						<tr>
							<td>14/12/2019</td>
							<td>Bundesliga, Matchday 15</td>
							<td>SV Werder Bremen</td>
						</tr>
						<tr>
							<td>18/12/2019</td>
							<td>Bundesliga, Matchday 16</td>
							<td>SC Freiburg</td>
						</tr>
						<tr>
							<td>21/12/2019</td>
							<td>Bundesliga, Matchday 16</td>
							<td>SC Freiburg</td>
						</tr>
						<tr>
							<td>21/12/2019</td>
							<td>Bundesliga, Matchday 17</td>
							<td>VfL Wolfsburg</td>
						</tr>
						<tr>
							<td>19/01/2020</td>
							<td>Bundesliga, Matchday 18</td>
							<td>Hertha BSC Berlin</td>
						</tr>
						<tr>
							<td>25/01/2020</td>
							<td>Bundesliga, Matchday 19</td>
							<td>FC Schalke 04</td>
						</tr>
						<tr>
							<td>01/02/2020</td>
							<td>Bundesliga, Matchday 20</td>
							<td>1. FSV Mainz 05</td>
						</tr>
						<tr>
							<td>05/02/2020</td>
							<td>DFB Cup, Round of 16</td>
							<td>TSG 1899 Hoffenheim</td>
						</tr>
						<tr>
							<td>09/02/2020</td>
							<td>Bundesliga, Matchday 21</td>
							<td>RB Leipzig</td>
						</tr>
						<tr>
							<td>14/02/2020 - 17/02/2020</td>
							<td>Bundesliga, Matchday 22</td>
							<td>1. FC Köln</td>
						</tr>
						<tr>
							<td>21/02/2020 - 24/02/2020</td>
							<td>Bundesliga, Matchday 23</td>
							<td>SC Paderborn 07</td>
						</tr>
						<tr>
							<td>28/02/2020 - 02/03/2020</td>
							<td>Bundesliga, Matchday 24</td>
							<td>TSG 1899 Hoffenheim</td>
						</tr>
						<tr>
							<td>06/03/2020 - 09/03/2020</td>
							<td>Bundesliga, Matchday 25</td>
							<td>FC Augsburg</td>
						</tr>
						<tr>
							<td>13/03/2020 - 16/03/2020</td>
							<td>Bundesliga, Matchday 26</td>
							<td>1. FC Union Berlin</td>
						</tr>
						<tr>
							<td>20/03/2020 - 22/03/2020</td>
							<td>Bundesliga, Matchday 27</td>
							<td>Eintracht Frankfurt</td>
						</tr>
						<tr>
							<td>03/04/2020 - 06/04/2020</td>
							<td>Bundesliga, Matchday 28</td>
							<td>Borussia Dortmund</td>
						</tr>
						<tr>
							<td>11/04/2020 - 13/04/2020</td>
							<td>Bundesliga, Matchday 29</td>
							<td>Fortuna Düsseldorf</td>
						</tr>
						<tr>
							<td>17/04/2020 - 20/04/2020</td>
							<td>Bundesliga, Matchday 30</td>
							<td>Bayer 04 Leverkusen</td>
						</tr>
						<tr>
							<td>24/04/2020 - 27/04/2020</td>
							<td>Bundesliga, Matchday 31</td>
							<td>Borussia Mönchengladbach</td>
						</tr>
						<tr>
							<td>02/05/2020 - 04/05/2020</td>
							<td>Bundesliga, Matchday 32</td>
							<td>SV Werder Bremen</td>
						</tr>
						<tr>
							<td>09/05/2020</td>
							<td>Bundesliga, Matchday 33</td>
							<td>SC Freiburg</td>
						</tr>
						<tr>
							<td>16/05/2020</td>
							<td>Bundesliga, Matchday 34</td>
							<td>VfL Wolfsburg</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
		<footer>
			<%- include("../frg/footer")%>
		</footer>
	</body>
</html>