<!-- views/frg/footer.ejs -->

<p id="top_btn"><a href="#top">Top</a></p>
<p><small>Fan-site pentru echipa de fotbal FC Bayern München. Orice încercare de copiere a acestui site va fi pedepsită conform legii.</small>
<p><small>Această pagină nu reprezintă pagina oficială a echipei FC Bayern München.</small></p>