<!-- views/frg/header.ejs -->

<div class="menu_container">
	<a href="/"><img class="logo" alt="Logo Bayern München" title="Emblema oficială a echipei FC Bayern München" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/512px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png"></a>
	<h1 id="titlu1"><a href="/">FC Bayern München</a></h1>
	<h1 id="titlu2"><a href="/">FC Bayern</a></h1>
	<div id="menu_toggle"><i class="fa fa-bars"></i></div>
	<aside>
		<p>MIA SAN MIA</p>
	</aside>
	<nav>
		<ul class="menu" id="main_menu">
			<li><a href="/">Home</a></li>
			<li id="submenu_toggle"><a href="/despre_club">Despre club<i class="fa fa-caret-down" id="submenu_drop_icon"></i></a>
				<ul class="submenu" id="secondary_menu">
					<li><a href="/despre_club#stadion">Stadion</a></li>
					<li><a href="/despre_club#echipament">Echipament</a></li>
					<li><a href="/despre_club#palmares">Palmares</a></li>
				</ul>
			</li>
			<li><a href="/echipa">Echipa</a></li>
			<li><a href="/meciuri">Meciuri</a></li>
			<li><a href="/galerie">Galerie</a></li>
			<li><a href="/contact">Contact</a></li>
			<% if(!locals.user){ %>
			<li><a href="/sign_up">Sign up</a></li>
			<% } %>
		</ul>
	</nav>
	<div id="form_container">
		<form id="login" method="post" >
			<label id="lbl1">
				Username: <input type="text" name="username" value="">
			</label>
			<label="lbl2">
				Parola: <input type="password" name="parola" value="">
			</label>	
			<input id="submit_login" type="submit" value="   Log in   ">
		</form>
	</div>
	<% if(locals.user){ %>
		<script src="../scripts/log_in_out_script.js"></script>
		<p id="user_sal">Salut, <%= user.username %> <input id="logout_btn" type="button" value="   Log out   "></p>
	<% } %>
</div>